apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.service.name }}
  labels:
    app: {{ .Values.app }}
    environment: {{ .Values.environment }}
spec:
  type: NodePort
  selector:
    app: {{ .Values.app }}
  ports:
  - protocol: TCP
    port: {{ .Values.service.port }}
    targetPort: {{ .Values.deployment.containerPort }}
